body{
    background: #909090;
}

h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    outline: black;
    animation: myanimation 1000ms infinite;
}

/*h2 {
    color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 2px black;
    */
h2{
font-family: Roboto;
font-style:  normal;
font-weight: normal;
font-size: 22px;
line-height: 24px;
}

@keyframes myanimation {

    13%{text-shadow: -20px 20px 0px #0000FF;}

    25%{text-shadow: -20px -20px 0px #0000FF;}
    
    38%{text-shadow: 20px -20px 0px #0000FF;}
     
    75%{text-shadow: 20px 20px 0px #0000FF;}
} 